<%- include ("partials/header") %>

<div class ="container">

	<header class="jumbotron"> 
		<div class = "container">
			
		
		<h1>
			UNIVERSITY DATABASE
		</h1>
		<p>
			Find your dream college
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/shops/new">Add your portfolio</a>
		</p>
		</div>
		
	
	</header>
	<div class = "row text-centre" style="display:flex; flex-wrap: wrap;">
		<% shops.forEach(function(shops){ %>
		<div class="col-md-3  col-sm-6">
			<div class= "thumbnail">
				<img src =" <%= shops.image %>">
				<div class="caption">
					<h4>
					<%= shops.name %> 
					</h4>	
				</div>
			</div>
		
		</div>
	
	<% }); %>
	</div>
		
</div>
	
	
	
<%- include ("partials/footer") %>




